/*********** buttons style ***********/
.btn {
  @apply inline-flex text-center justify-center items-center whitespace-nowrap focus:ring-4 focus:outline-none transition;

  &[disabled] {
    @apply opacity-60 cursor-not-allowed;
  }

}

.btn-block {
  @apply w-full
}


/* sizes */
.btn-xs {
  @apply text-xs font-medium px-3 py-2
}

.btn-sm {
  @apply text-sm font-medium px-3 py-2
}

.btn-base {
  @apply text-base font-medium px-5 py-2.5
}

.btn-lg {
  @apply text-lg font-semibold px-5 py-3
}

.btn-xl {
  @apply text-xl font-bold px-6 py-4
}

/* Default button */

.btn-default {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-alternative {
  @apply text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700
}
.btn-dark {
  @apply text-white bg-gray-800 hover:bg-gray-900 focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700
}
.btn-light {
  @apply text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
}
.btn-green {
  @apply text-white bg-green-700 hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
}
.btn-red {
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
}
.btn-yellow {
  @apply text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300 dark:focus:ring-yellow-900
}
.btn-orange {
  @apply text-white bg-orange-400 hover:bg-orange-500 focus:ring-orange-300 dark:focus:ring-orange-900
}
.btn-purple {
  @apply text-white bg-purple-700 hover:bg-purple-800 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900
}

/* light buttons */
.btn-default-light {
  @apply text-blue-800 bg-blue-100 hover:bg-blue-200 focus:ring-blue-300 dark:bg-blue-100 dark:hover:bg-blue-200 dark:focus:ring-blue-300
}
.btn-dark-light {
  @apply text-stone-800 bg-stone-200 hover:bg-stone-300 focus:ring-stone-400 dark:bg-stone-200 dark:hover:bg-stone-300 dark:focus:ring-stone-400
}
.btn-green-light {
  @apply text-green-800 bg-green-100 hover:bg-green-200 focus:ring-green-300 dark:bg-green-100 dark:hover:bg-green-200 dark:focus:ring-green-300
}
.btn-red-light {
  @apply text-red-800 bg-red-100 hover:bg-red-200 focus:ring-red-300 dark:bg-red-100 dark:hover:bg-red-200 dark:focus:ring-red-300
}
.btn-yellow-light {
  @apply text-yellow-800 bg-yellow-100 hover:bg-yellow-200 focus:ring-yellow-300 dark:bg-yellow-100 dark:hover:bg-yellow-200 dark:focus:ring-yellow-300
}
.btn-orange-light {
  @apply text-orange-800 bg-orange-100 hover:bg-orange-200 focus:ring-orange-300 dark:bg-orange-100 dark:hover:bg-orange-200 dark:focus:ring-orange-300
}
.btn-purple-light {
  @apply text-purple-800 bg-purple-100 hover:bg-purple-200 focus:ring-purple-300 dark:bg-purple-100 dark:hover:bg-purple-200 dark:focus:ring-purple-300
}

/* outline buttons */
.btn-outline-default {
  @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800
}
.btn-outline-dark {
  @apply text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-gray-300 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800
}
.btn-outline-green {
  @apply text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-green-300 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800
}
.btn-outline-red {
  @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-red-300 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900
}
.btn-outline-yellow {
  @apply text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900
}
.btn-outline-orange {
  @apply text-orange-400 hover:text-white border border-orange-400 hover:bg-orange-500 focus:ring-orange-300 dark:border-orange-300 dark:text-orange-300 dark:hover:text-white dark:hover:bg-orange-400 dark:focus:ring-orange-900
}
.btn-outline-purple {
  @apply text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-purple-300 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900
}



/* .btn-link {
  @apply bg-transparent border-transparent hover:bg-transparent hover:border-transparent underline  ;
} */


.btn-has-icon {
  @apply gap-x-2;

  &.right-icon {
    @apply flex-row-reverse
  }
  &.btn-xs .icon {
    @apply text-sm
  }
  &.btn-sm .icon {
    @apply text-base
  }
  &.btn-base .icon {
    @apply text-lg
  }
  &.btn-lg .icon {
    @apply text-xl
  }
  &.btn-xl .icon {
    @apply text-2xl
  }

} 

.btn-just-icon {
  @apply aspect-square;

  &.btn-xs {
    @apply p-1;
    .icon {
      @apply text-base
    }
  }
  &.btn-sm {
    @apply p-1.5;
    .icon {
      @apply text-lg
    }
  }

  &.btn-base {
    @apply p-2.5;
    .icon {
      @apply text-xl
    }
  }
  &.btn-lg {
    @apply p-3;
    .icon {
      @apply text-2xl
    }
  }
  &.btn-xl {
    @apply p-3.5;
    .icon {
      @apply text-3xl
    }
  }

} 